<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="item-leave-height">
      <ion-label>SELECT LEAVE</ion-label>
      <ion-select [(ngModel)]="selectedLeave">
          <ion-option value="CASUAL LEAVE">Casual Leave</ion-option>
          <ion-option value="COMP OFF">Comp Off</ion-option>
          <ion-option value="EARNED LEAVE">Earned Leave</ion-option>
          <ion-option value="SICK LEAVE">Sick Leave</ion-option>
      </ion-select>
  </ion-item>
</ion-content>
